## Settings file template for My Winter Car MP Mod
## Plugin GUID: com.tudor.mywintercarmpmod

[Avatar]
BundlePath = plugins\MyWinterCarMpMod\mpdata
AssetName = assets/mpplayermodel/mpplayermodel.fbx
Scale = 3
YOffset = 0.6

[Compatibility]
AllowMultipleInstances = true

[General]
Mode = Client
Transport = TcpLan
SendHz = 20
SmoothingPosition = 0.15
SmoothingRotation = 0.15
OverlayEnabled = true
VerboseLogging = true

[SteamP2P]
SpectatorHostSteamId = 0
AllowOnlySteamId = 0
P2PChannel = 0
ReliableForControl = true

[TcpLan]
HostBindIP = 0.0.0.0
HostPort = 27055
SpectatorHostIP = 127.0.0.1

[Spectator]
SpectatorLockdown = true

[DoorSync]
Enabled = true
SendHz = 10
AngleThreshold = 1
NameFilter = door,ovi,hatch,boot,lid,gate,trunk,hood,bonnet,tap,faucet,sink,ignition,starter,engine,key,light,lights,headlight,headlights,beam,wiper,wipers,indicator,signal,turn,hazard,phone,telephone,fridge,freezer,refrigerator,icebox

[VehicleSync]
Enabled = true
ClientSend = true
OwnershipEnabled = true
SeatDistance = 1.5
SendHz = 20
PositionThreshold = 0.05
RotationThreshold = 1
NameFilter = sorbet

[NpcSync]
Enabled = true
SendHz = 6
PositionThreshold = 0.05
RotationThreshold = 2
NameFilter = nappo,pub,bar,npc
VehicleFilter = traffic,ai,bus,taxi,truck,van
DisablePhysicsOnClient = true
